/* 테이블 스타일링 */
.members-wrapper {
  font-size: 1rem;
  block-size: 350px;
  overflow: auto;

  .members {
    inline-size: 100%;
    border-collapse: collapse;
    border: 1px solid var(--black);
  }
  .number {
    inline-size: 15%;
  }

  .name {
    inline-size: 25%;
  }

  .email {
    inline-size: 30%;
  }

  .phone {
    inline-size: 30%;
  }

  thead,
  tfoot {
    position: sticky;
    background: var(--black);
    color: var(--white);
  }

  thead {
    position: sticky;
    top: 0;
  }

  th,
  td {
    padding: 0.5em 1em;
    text-align: center;
  }
}

tbody {
  tr:nth-child(odd) {
    background: var(--white);
  }

  tr:nth-child(even) {
    background: var(--gray);
  }
}
